# This is a sample systemd service file.
# Modify the values for the exec parameter,
# user, and group.
[Unit]
Description=ipify api server
After=network.target

[Service]
Type=simple
User=sample
Group=sample
Environment="PORT=8080"
# Bind to port 80 if desired.
#AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/home/sample/bin/ipify-api
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
